* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #374151;
    font-family: sans-serif;
    max-width: 650px;
    width: 100%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

header {
   display: grid;
   grid-template-columns: 4fr 0.5fr;
   margin: 50px auto 25px auto;
}

h1 {
    color: #6B7280;
    font-weight: 300;
    font-size: 1.5rem;
    grid-column: 1 / 3;
    margin: 10px 0;
}

h2 {
    color: #6B7280;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

input {
    background: none;
    border: none;
    appearance: none;
    outline: none;
}

.input-txt {
    color: #EEE;
    background: #1F2937;
    width: 100%;
    padding: 0px 10px;
    border-radius: 0.75rem;
}

.input-txt::placeholder {
    color: #6B7280;
}

.add-btn {
   padding: 0.75rem;
}

.add-btn, .edit-btn {
    background: linear-gradient(to right, #EC4899, #8B5Cf6);
    cursor: pointer;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.add-btn:hover {
    opacity: 0.8;
}

.add-btn:active {
    opacity: 0.6;
}

.task {
    background: #111827;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    border-radius: 0.75rem;
    margin-bottom: 0.75rem;
}

.task-txt {
    color: #eee;
    width:100%;
    border: 0px solid red;
}

.task input[type="button"]:hover {
    opacity: 0.8;
}

.task input[type="button"]:active {
    opacity: 0.6;
}

.edit-btn {
    padding: 0.5rem;
    border: 0px solid green;
    margin-left: 1rem;
}

.del-btn {
    color: crimson;
    font-weight: 700;
    cursor: pointer;
    padding: 0.5rem;
    border: 0px solid blue;
    margin-right: 0.75rem;
}

.action-btns {
    display: flex;
}